<header id="header">
  <span class="label site-name">{{ site.header_title }}</span>

  <div class="navigation">
    {% include search-input.html %}
    <div class="navigation-links">
      {% for nav_item in site.data.nav %}
      <a class="label" href="{{ nav_item.url | relative_url }}"
        >{{ nav_item.title | escape }}</a
      >
      {% endfor %}
    </div>
  </div>

  <div id="burger">
    <div class="line line-1"></div>
    <div class="line line-2"></div>
    <div class="line line-3"></div>
  </div>
</header>
