.search-input-wrapper {
  display: flex;
  align-items: center;

  .search-icon {
    width: 14px;
    height: 14px;
    background-image: url("/assets/svg/search.svg");
    margin-right: 10px;
  }

  .close-icon {
    display: none;
    width: 12px;
    height: 12px;
    background-image: url("/assets/svg/cross.svg");
    cursor: pointer;
  }

  input {
    background: none;
    border: none;
    outline: none;
    position: relative;
    font-size: 12px;
    font-weight: 700;
    padding: 0;
    flex: 1;
    width: 40px;
    height: 15px;

    &,
    &::placeholder {
      color: #fff;
    }

    &::placeholder {
      opacity: 0.8;
      font-weight: 400;
    }
  }

  @include media-query($mobile) {
    margin-bottom: 20px;
    input {
      font-weight: 600;
      font-size: 20px;
      height: unset;
      &::placeholder {
        font-weight: 600;
        opacity: 1;
      }
    }
  }
}

body.search-active {
  .search-input-wrapper {
    width: 300px;

    .close-icon {
      display: block;
    }

    input {
      padding-right: 10px;
    }

    @include media-query($mobile) {
      width: 100%;
    }
  }

  #header > .navigation > .navigation-links {
    display: none;
  }
}
