@charset "utf-8";

$mobile: 600px !default;
$tablet: 768px !default;
$laptop: 992px !default;
$desktop: 1440px !default;

$bg-color: #010101;

$button-transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);

$post-preview-height-l: 500px;
$post-preview-height-m: 430px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin post-preview-horizontal {
  flex-direction: row;

  .image {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
  }

  .content {
    .lead {
      display: -webkit-box;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Helvetica, Arial, sans-serif;
  background: $bg-color;
  color: #fff;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &.no-scroll {
    overflow: hidden;
  }
}

@import "default";
@import "home";
@import "posts";
@import "post";
@import "post_preview";
@import "other_posts";
@import "meeting_note";
