@charset "utf-8";

$mobile: 600px !default;
$tablet: 768px !default;
$laptop: 992px !default;
$desktop: 1440px !default;

$bg-color: #010101;

$post-preview-height-l: 500px;
$post-preview-height-m: 430px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin post-styles {
  a {
    &,
    &:visited {
      color: #fff;
    }
  }

  img {
    border-radius: 20px;
    margin: 32px 0;
    width: 100%;
  }

  p {
    font-size: 20px;
    line-height: 32px;
    margin: 16px 0;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 16px 0;
    text-align: left;
    width: 100%;
  }

  h1 {
    font-size: 1.4em;
    line-height: 34px;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1em;
  }

  code {
    font-size: 14px;
  }

  @include media-query($mobile) {
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@mixin post-preview-horizontal {
  flex-direction: row;

  .image {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
  }

  .content {
    .lead {
      display: -webkit-box;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Helvetica, Arial, sans-serif;
  background: $bg-color;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;

  &.no-scroll {
    overflow: hidden;
  }
}

@import "posts";
@import "includes/main";
@import "layouts/main";
