---
layout: page
title: Blog
---

<h2 class="page-subtitle">Blog</h2>
<h1 class="page-title">What’s new</h1>
<p class="page-text">
  Aticles that are a result of the Iqlusion Liquid Staking working group
  discussion will be posted here.
</p>

<div class="posts">
  {% for post in paginator.posts %}
    {% include post-preview.html %}
  {% endfor %}
</div>

<div class="posts-nav">
  {% if paginator.previous_page_path %}
    <a class="button secondary arrow-top" href="{{paginator.previous_page_path}}">Newer articles</a>
  {% endif %}
  {% if paginator.next_page_path %}
    <a class="button secondary arrow-bottom" href="{{paginator.next_page_path}}">Older articles</a>
  {% endif %}
</div>
