---
layout: page
---

<div class="home">
  <div class="top">
    {% include home-bg.html %}
    {{ content }}
  </div>


  {% ifhascontent bottom %}
  <div class="bottom">
    {% ifhascontent bottom-left %}
    <div class="left">
      {% contentblock bottom-left %}
    </div>
    {% endifhascontent %}

    {% ifhascontent bottom-right %}
    <div class="right">
      {% contentblock bottom-right %}

      {% ifhascontent agenda %}
      <div class="agenda">
        {% contentblock agenda %}
      </div>
      {% endifhascontent %}
    </div>
    {% endifhascontent %}
  </div>
  {% endifhascontent %}
</div>
